:root{
  --blue:#3b26e0ea;
  --green:#73e92f;
  --yellow:#58e3e7ea;
  --pink: #eb85c4ea;
  --grey: #d8d1d5ea;
  --white: #fffdfdce;
  --gradient:linear-gradient(90deg, var(--blue), var(--green));
  --gradient2:linear-gradient(80deg, var(--yellow), var(--pink));
  --gradient3:linear-gradient(30deg, var(--grey), var(--white));

}

  
  *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s ease-out;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar{
    width:1rem;
  }
  
  html::-webkit-scrollbar-track{
    background:#333;
  }
  
  html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
  }
  
  body{
    background:var(--gradient);
    padding:3rem 7%;
  }
  
  section{
    padding:2rem 7%;
  }
  
  .container{
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }
  
  .heading{
    color:transparent;
    background:var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    padding:0 1rem;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 4rem;
    
  }
  
  .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: .5rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .btn:hover{
    background:var(--gradient);
  }
  
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:2rem 7%;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    position: relative;
    z-index: 1000;
  }
  
  .logo{
    width:30%;
    display:flex;
    
    
  

  }


  


  #more {display: none;}
  
  #myBtn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: .5rem;
    background:rgb(15, 15, 15);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
    
  }
  
  #myBtn:hover{
    background:var(--gradient);
  }
  .logo img{
    width: 30%;
    border:3px solid white;
    border-radius: 50px;
  }
  
  header .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color:#333;
  }
  
  header .navbar a:hover{
    color:var(--pink);
  }
  
  #menu{
    font-size: 2.5rem;
    padding:.5rem 1rem;
    border-radius: .3rem;
    border:.1rem solid rgba(0,0,0,.2);
    cursor: pointer;
    display: none;
  }
  
  .home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .home .content{
    flex:1 1 40rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  .home .image img{
    width:100%;
  }
  
  .home .content h3{
    color:transparent;
    background:var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
  }
  
  .home .content p{
    padding:.5rem 0;
    font-size: 1.7rem;
    color:#666;
  }
  
  .course{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .course .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    padding:1rem;
    position: relative;
  }
  
  .course .box img{
    height:20rem;
    width:100%;
  }
  
  .course .box .amount{
    position: absolute;
    top:1rem; left:1rem;
    font-size: 2rem;
    padding:.5rem 1rem;
    background:var(--pink);
    color:#fff;
    border-radius: .5rem;
  }
  
  .course .box .stars i{
    color:var(--violet);
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .course .box h3{
    color:var(--pink);
    font-size: 2.5rem;
  }
  
  .course .box p{
    color:#666;
    font-size: 1.5rem;
    padding:.5rem 0;
  }
  
  .course .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    padding:.5rem;
    padding-top: 1rem;
  }
  
  .course .icons p{
    color:#666;
    font-size: 1.3rem;
  }
  
  .course .icons p i{
    padding-right: .4rem;
    color:var(--pink);
  }
  .physicspdf .box{
   
    box-sizing: border-box;
    border: dotted blanchedalmond;
  }
  .chemistrypdf .box{
    
    box-sizing: border-box;
    border: dotted blanchedalmond;
  }
  
  .team{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  .resource{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  
  .team .box{
    flex:1 1 23rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius:.5rem;
    padding:1.5rem;
    text-align: center;
  }
  
  .team .box img{
    height: 10rem;
    width:10rem;
    margin:.5rem 0;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .team .box h3{
    color:var(--violet);
    font-size: 2.5rem;
  }
  
  .team .box span{
    color:var(--pink);
    font-size: 2rem;
  }
  
  .team .box p{
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .team .box .share a{
    height:4rem;
    width:4rem;
    line-height: 4rem;
    font-size: 2rem;
    background:var(--pink);
    border-radius: .5rem;
    margin:.3rem;
    color:#fff;
  }
  
  .team .box .share a:hover{
    background:var(--violet);
  }
  
  
  
  
  
  .contact{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .contact .image{
    flex:1 1 35rem;
  }
  
  .contact .image img{
    width:100%;
  }
  
  .contact form{
    flex:1 1 50rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
  }
  
  .contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .inputBox input,
  .contact form .box, 
  .contact form textarea{
    width: 100%;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.7rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    text-transform: none;
    color:#333;
  } 
  
  .contact form .inputBox input:focus,
  .contact form .box:focus, 
  .contact form textarea:focus{
    border-color: var(--pink);
  }
  
  .contact form .inputBox input{
    width:49%;
  }
  
  .contact form textarea{
    height: 20rem;
    resize: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    background-color: rgba(245, 239, 239, 0.945) ;
    
  }
  
  .footer .box-container .box{
    flex:1 1 20rem;
    margin-left: 3px;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--violet);
    padding:.7rem 0;
    margin-left: 2px;
    font-size: 22px;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.7rem 0;
    
    
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:black;
    padding:.7rem 2px;
    
    font-size: 19px;
  }
  
  .footer .box-container .box a:hover{
    color:rgb(84, 8, 224);
  }
  
  .footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--pink);
  }
  
  .footer .credit{
    font-size: 2rem;
    margin-top: 0.5rem;
    padding:0.5rem;
    padding-top: 1rem;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    color: black;
    background-color: white;
  }
  .footer .creditl{
    font-size: 1.75rem;
    margin-top: 0.5rem;
    padding:1rem;
    padding-top: 1rem;
    text-align: center;
    background: var(--gradient3);
    border-top: .1rem solid rgba(0,0,0,.1);
    color: black;
    background-color: white;
  }
  
  
  .footer .credit span{
    color:var(--pink);
  }
  
  .dmcaform{
    width: 65vw;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
  }
  .moreresource{
    margin: auto;
    display: flex;
    justify-content: left;
    padding-left: 120px;
  }
  
  .secRight{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    background: rgba(243, 232, 232, 0.767) ;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 5px;
    margin-bottom: 8px;
  
   
  }
  .secRightp{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    margin: auto;
    background: rgba(243, 232, 232, 0.767) ;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 5px;
  
   
  }
  .secRightc{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    margin: auto;
    background: rgba(243, 232, 232, 0.767) ;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 5px;
    margin-top: 10px;
  
   
  }
  
  
  .question1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(149, 240, 14);
  
  }
  
  .answer1{
     display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 3px;
    
  
  }

  
  
  
  .secleft{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    background: rgba(210, 227, 228, 0.767) ;
    background-size: cover;
    background-blend-mode: darken;
    padding: 15px;
    border: 3px solid grey;
    border-radius: 5px;
  
  
   
  }
  
  .question2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(15, 30, 238, 0.918);
  
  }
  
  .answer2{
     display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 3px;
    
  
  }

    
  .answer3{
    
   align-items: center;
   justify-content: center;
   margin: auto;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   padding: 3px;
   
 
 }
  .secRight .box{
    flex:1 1 23rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius:.5rem;
    padding:1.5rem;
    text-align: center;
  
  }
  .secRight .box img{
    height: 10rem;
    width:10rem;
    margin:.5rem 0;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .secRight .box h3{
    color:var(--violet);
    font-size: 2.5rem;
  }
  
  
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  padding: 16px;
  color: rgb(173, 139, 173);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
  
  
  
  
  /* media queries  */
  
  @media (max-width:991px){
  
    html{
      font-size: 55%;
    }
  
    body{
      padding:1.5rem;
    }
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
    
    
  
  }
  
  
  
  
  
  @media (max-width:768px){
  
    #menu{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left:0; right:0;
      background:#fff;
      border-top: .1rem solid rgba(0,0,0,.2);
      border-bottom: .1rem solid rgba(0,0,0,.2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      font-size: 2.5rem;
      display: block;
      margin:2rem 0;
      text-align:center;
    }
  
    .contact form .inputBox input{
      width:100%;
    }
  
  }
  
  @media (max-width:400px){
  
    html{
      font-size: 50%;
    }
  
    @media (max-width:800px){
      .secRight{
        max-width: 150%;
        flex-direction: column-reverse;
      }
      .secRightp{
        max-width: 150%;
        flex-direction: column-reverse;
      }
      .secRightc{
        max-width: 150%;
        flex-direction: column-reverse;
  
      }
      .secleft{
        max-width: 150%;
        flex-direction: column-reverse;
      }
      .dmcaform{
        width: 85vw;
        align-items: center;
        margin: auto;
        justify-content: center;
        display: flex;
      }
      .moreresource{
       padding-left: 40px;
        
        
      }

      #myBtn{
        display: inline-block;
        margin-top: 1rem;
        padding:.8rem 3rem;
        border-radius: .5rem;
        background:rgb(15, 15, 15);
        color:#fff;
        cursor: pointer;
        font-size: 1.7rem;
        margin-left: calc(30%);
      }
  
      
      .question1{
        font-size: 15px;
      }
      .answer1{
        font-size: 13px;
  
      }
      .question2{
        font-size: 17px;
  
      }
      .answer2{
        font-size: 13px;
      }
  
  
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 80%;
        width: auto;
        margin-top: -3px;
        padding: 16px;
        color: rgb(173, 139, 173);
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
    }
  
  
  
   
